.cart-summary {
    position: sticky;
    top: 30px;
    padding: 30px 20px;
}

.cart-header {
    margin-bottom: 20px;
}

.text {
    margin: 10px 0;
}

.cart-btn-container {
    margin: 30px 10px 0 10px;
    display: flex;
    flex-direction: column;
}

.clear-btn{
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    background-color: #FF3030;
}

